<main class="album-view container narrow">
     <section class="clearfix">
         <div class="column half">
             <img ng-src={{album.albumData.albumArtUrl}} class="album-cover-art">
         </div>
         <div class="album-view-details column half">
           <h2 class="album-view-title">{{album.albumData.title}}</h2>
           <h3 class="album-view-artist">{{album.albumData.artist}}</h3>
           <h5 class="album-view-release-info">{{album.albumData.year}}</h5>
         </div>
<!-- /assignment checkpoint 5-->

     </section>
     <table class="album-view-song-list" ng-repeat="song in album.albumData.songs">
         <tr class="album-view-song-item" ng-mouseover="hovered = true" ng-mouseleave="hovered = false">

           <td class="song-item-number">
<!-- assignment checkpoint 7 - Replace all instances when these two lines of code are used together with the playSong function. -->
             <span ng-show="!SongPlayer.playsong(song) && !hovered">{{$index+1}}.</span>
             <a class="album-song-button" ng-show="hovered && !SongPlayer.playsong(song)" ng-click="album.songPlayer.play(song)"><span class="ion-play"></span></a>
             <a class="album-song-button" ng-show="SongPlayer.playsong(song)" ng-click="album.songPlayer.pause(song)"><span class="ion-pause"></span></a>
<!-- end assignment checkpoint 7 -->
          </td>

<!-- assignment checkpoint 5-->
             <td class="song-item-title">{{song.title}}</td>
             <td class="song-item-duration">{{song.duration}}</td>

<!-- /assignment -->
         </tr>
     </table>
 </main>

 <ng-include src="'/templates/player_bar.html'"></ng-include>
